// @import "../../../core/styles/variables/palette.scss";
$primary  :red ;
$secondary : yellow;
$white :white;
$border-radius : 8px;
.side-bar {
  background-color: #fff;

  min-height: 100vh;

  ul {
    li {
      i , svg {
        font-size: 20px;
        margin-left: 20px;
      }

      a {
        color: #202224;
        font-size: .875rem;
        font-weight: 600;
        width: 80%;
        margin: auto;
      }

      font-size: 18px;
      line-height: 24px;
      .active {
        color: #fff;
        font-weight: 600;
        background-color: #2387BF;
        border-radius: .5rem;
      }
    }
  }
}
.row {

    .containers {
      background-color: #ffff;
      border-radius: 12px;
      margin-bottom: 15px;
    }

    .pages {

      background-color: #F1F1F5;

      .top {
        .p-button {
          .pi {
            color: #242424;
          }

          background-color: #ffff;
          border: 0;
          border-color: #ffff;
          border-radius: 8px !important;
        }

        i {
          font-size: 13px;
          font-weight: bold;
        }

        span {
          font-size: 18px;
          color: #747474;
          font-weight: 700;
        }
      }

    }
  }
.cursor-pointer {
  cursor: pointer;
}
.sidebar-border{
  border-bottom: 1px solid #E0E0E0;
}
.admin{
  font-size: .75rem;
  color: #202224;
  opacity: 60%;
  font-weight: 700;
  width: 87%;
  margin: auto;
}
.active {
  background-color: red;
}
li.active{
  border-left: 1px solid #000;
}
.isActiveLi{
  position: relative;

}
li.isActiveLi::after {
  position: absolute;
  content: ' ';
  left: 0%;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #2387BF;
  border-left: 5px solid #2387BF;
  border-radius: 0 .5rem .5rem 0;
}
