// .auth-layout {

.p-inputtext {
  background: $gray-color-5;
  border: 1px solid $gray-color-10;
  border-radius: 1rem;
  width: 100%;
  height: 3.125rem;
  padding-inline: 1.5rem;
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: $danger-color;
}
.p-password{
  width: 100%;
}
.p-password .p-inputtext::placeholder,
.p-inputtext::placeholder {
  color: #838C94;
  font-size: .875rem;
  line-height: 1;
}
.auth-layout{

  .p-checkbox-box	 {
    border-color: $primary-color;
    width: 1.125rem;
    height: 1.125rem;
  }
}
.p-checkbox-box.p-highlight	 {
  background-color: $primary-color;
}

p-inputotp .p-inputtext {
  width: 4.625rem;
  height: 3.5rem;
  padding: .75rem 1.526rem;
  margin-inline-end: 1rem;
  border-radius: .25rem;
}
.p-inputotp {
  gap: 0;
.p-input-icon-right > .p-icon-wrapper, .p-input-icon-right > i:last-of-type{
right: 1.5rem;
}
// }
}
.p-inputswitch-slider {
  background-color: #9C9C9C;
}
p-dropdown .p-inputtext{
  border: 0;
  height: unset;
}
.p-checkbox-box.p-focus {
  box-shadow: unset;
}
.p-inputtext:enabled:focus {
  box-shadow: unset;
}
.p-checkbox-box.p-highlight{
  border-color: $primary-color;
}
.popup{
  .p-inputswitch-checked .p-inputswitch-slider {
    background-color: #31B78F;
  }
}
