.popup {
  .p-icon-field input {
    width: 100%;
    height: 2.5rem;
    background: $gray-color-5;
    border: 1px solid $gray-color-10;
    border-radius: .5rem;
    padding-inline-start: 2.75rem;
    outline: none;
  }
  .p-icon-field input::placeholder {
    color: $gray-color-50;
    font-size: .75rem;
    line-height: 1rem;
  }
  .p-input-icon {
    color: $gray-color-50;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 700;
    left: 0.9375rem;
}
p-inputswitch {
  width: 2.5rem;
  height: 1.25rem;
  .p-inputswitch {
    width: 2.5rem;
  height: 1.25rem;
  }
  .p-inputswitch-slider::before {
    width: 1rem;
    height: 1rem;
    margin-top: -0.515rem;
    left: 0.104375rem;
  }
}
.popup-footer .reset .p-button {
  background-color: transparent;
  color: $primary-color;
}
.popup-footer .save .p-button {
  background-color: $primary-color;
  color: $white-color;
}
.p-button{
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: .5rem;
  font-weight: 700;
}
}
