.input-label {
  font-size: .875rem;
  line-height: 1;
  color: #2A3042;
  margin-bottom: .25rem;
}

.input-margin {
  margin-bottom: 1.5rem;
}

form {
  width: 25.625rem;
  height: 74%;
}
.otp-custom-width {
  width: 84%;
  margin-inline-end: auto;
}
.remember-me label {
  margin-inline-start: 0.6875rem;
}

.forget-password a {
  color: #2387BF;
  font-size: .875rem;
  line-height: 1.125rem;
  cursor: pointer;
}

.form-header {
  margin-bottom: 2.5625rem;

  .form-title {
    font-size: 2.25rem;
    line-height: 3.5rem;
    color: #2A3042;
    font-weight: 700;
  }

  .form-subtitle {
    font-size: 1rem;
    color: #262626;
    line-height: 1.5rem;
  }
}

.form-footer {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.5rem;
  color: #A3AED0;
  font-family: 'DM Sans';
  margin-bottom: 1.8125rem;
}

