.main-layout{
  background-color: #F5F6FA;
  .header{
    width: 100%;
    background-color: #fff;
    .logo {
      width: 20%;
    }
  }
}

.side-bar {
    width: 20%;
}

.pages {
    width: 80%;
    margin-inline-start: 1.875rem;
    margin-top: 1.875rem;
}
