<div class="main-layout">
  <div class="d-flex flex-column">
    <div class="header py-3 d-flex justify-content-between">
      <div class="logo d-flex justify-content-center align-items-center">
        <img class="img-fluid" alt="logo" src="assets/images/EN-Logo-1.svg">
      </div>
    </div>
    <div class="main-layout--content d-flex">
      <div class="side-bar">
        <app-sidebar></app-sidebar>
      </div>

      <div class="pages">
        <!-- here  -->

        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
