.title {
  color: #202224;
  font-size: 2rem;
  font-weight: 700;
}
th {
  color: #616161;
}
.table-title{
  color: #262626;
  font-size: .875rem;
  font-weight: 700;
}
.custom-table-header{
  padding: .75rem;
}
