$white-color: #ffffff;
$gray-color-5: #FAFAFA;
$gray-color-10: #DDDFDF;
$gray-color-20: #e0e3e5;
$gray-color-30: #98a6ad;
$gray-color-50: #616161;
$gray-color-70: #262626;
$gray-color-90: #202224;
$black-color: #1E1E1E;
$white-blue-color: #bdcdd9;
$primary-color: #2387BF;
$primary-color-light: lighten($primary-color, 5%);
$primary-color-x-light: lighten($primary-color, 45%);
$primary-color-dark: darken($primary-color, 5%);
$primary-color-x-dark: darken($primary-color, 15%);
$secondary-color: #F6CE18;
$secondary-color-dark: darken($secondary-color, 10%);
$success-color: #0acf97;
$success-color-dark: darken($success-color, 5%);
$danger-color: #E52031;
$danger-color-dark: darken($danger-color, 5%);
$warning-color: #ffbc00;
$warning-color-dark: darken($warning-color, 5%);
$warning-color-light: lighten($warning-color, 5%);
$info-color: #39afd1;
$info-color-dark: darken($info-color, 5%);
$light-color: #ebeff4;
$light-color-dark: darken($light-color, 5%);
$dark-color: #6c757d;
$dark-color-dark: darken($dark-color, 10%);
$text-body:#1E1E1E;
$text-gray:#BEBEBE;
$text-body-light:#EDEDED;
$primary-color-disabled: #96C2E2;
